  <div class="footer container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1>Contact</h1>
          <hr/>
          <p><b>Email: </b><a href="mailto:greene.al1991@gmail.com">greene.al1991@gmail.com</a></p>
        </div>
        <div class="col-sm-6">
          <h1>Follow Me</h1>
          <hr/>
          <a href="https://twitter.com/awgreene"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/greene1991/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </div>
      </div>
      All content copyright The Greenehorn
    </div>
  </div>
</body>
</html>
