  <footer class="color-scheme-2">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="pull-left">Contact</h1>
          <h1 class="pull-right">Follow Me</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <hr class="pull-left" />
          <hr class="pull-right" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="pull-left"><b>Email: </b><a href="mailto:greene.al1991@gmail.com">greene.al1991@gmail.com</a></p>

          <a href="https://twitter.com/awgreene" class="footer-icon"><i class="fa fa-twitter pull-right" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/greene1991/" class="footer-icon"><i class="fa fa-linkedin-square pull-right" aria-hidden="true"></i></a>
          <a href="https://github.com/awgreene" class="footer-icon"><i class="fa fa-github pull-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="pull-left">All content copyright The Greenehorn</p>
        </div>
      </div>
    <div>
  </footer>
</body>
</html>
