<% include partials/header %>
  <div class="jumbotron" style="background-image:url(../images/JumbotronAbout.jpg);">
    <h1>All About Me</h1>
    <p>For whenever creeping on social media isn't enough</p>
  </div>
  <div class="color-scheme-0 vertical-padding-50">
    <div class="container">
      <h2>Thanks for visiting my website</h2>

      <p>My name is Alex Greene and I'm a software developer that loves to learn about new technologies and how they can disrupt established industries! I created this website to share my passions with the world and I’m excited that you’re here!</p>

      <p>So a little more about me. I’m athlete, an innovator, a millennial, and a guy that needs more hours in a day. In 2010, I moved to Boston from a small suburb of Pittsburgh called Sewickley. I quickly realized that the world was much larger than I had thought and was overwhelmed by the number of amazing opportunities that I could get involved with. Boston offers amazing athletic competitions, a terrific food scene, and an academic environment where you can talk to experts in just about anything.</p>

      <p>Since I’ve been in Boston, I’ve tried to take full advantage of what it’s had to offer; I’ve competed on a national level at rowing regattas and triathlons, attended hundreds of technical meetups, competed in hackathons, crushed thousands of calories in various food challenges, and a bunch of other fun stuff.</p>

      <p>Not everything I’ve done has radically changed my life, but there have been a few events that lead to meaningful periods of growth. I thought it might make sense to organize the major takeaways of these lessons so I created this site.</p>

      <p>So if you're interested in new technology, it's place in healthcare, or social implications, you've found my playpen.</p>
    </div>
  </div>
<% include partials/footer %>
