<% include partials/header %>
  <div class="jumbotron" style="background-image:url(../images/JumbotronBlogs.jpg);">
    <h1>The Greenehorn Blog</h1>
    <p>An intersection between healthcare, emerging technology, and curiosity</p>
  </div>
  <div class="color-scheme-0">
    <div class="container vertical-padding-50">
      <h2>Popular Blogs</h2>
      <p>I use <a href="https://medium.com/">Medium</a> to share my thoughts on emerging technologies and their potential implications.</p>
      <p>You can view all my articles <a href="https://medium.com/@awgreene">here</a> or select from one of the options below:</p>
      <div class="blogs">
        <a href="#">How I feel about some topic that I wrote a blog post about</a><br />
        <a href="#">How I feel about some topic that I wrote a blog post about</a><br />
      </div>
    </div>
  </div>
<% include partials/footer %>
