<% include partials/header %>
  <div class="color-scheme-0 vertical-padding-50">
    <div class="container">
      <h2>Thanks for visiting my website</h2>

      <p>My name is Alex Greene and I'm a software developer that loves to learn about new technologies! I created this website to share my passions with the world and I’m excited that you’re here!</p>

      <p>During the day, I focus on developing web applications in the Healthcare space with IBM Watson Helath. I am part of a crossfunctional team that focuses on creating innovative solutions that improves lives. I wake up empassioned and excited to see what new challenges await and what solutions will come.</p>

      <p>I'm originally from the Pittsbrugh area, so I spend most of my time trying to see as much of Boston Area as possible. You'll often find me at aa Redsox game, exploring the Northend, grabbing a drink at Lamplighter, or meeting new people at a tech meetup.</p>
    </div>
  </div>
  <div class="color-scheme-1 vertical-padding-100">
    <div class="container text-center">
      <h2>Intested in learning more?</h2>
      <p>Be sure to check out my blog posts that focus on new technologies, side projects, and whatever else I find interesting!</p>
      <a href="/blogs" class="btn btn-secondary btn-transition-white btn-lg">Read on!</a>
    </div>
  </div>
<% include partials/footer %>
