<% include partials/header %>
  <div class="jumbotron" style="background-image:url(../images/JumbotronHome.jpg);">
    <h1>Welcome to the Greenehorn!</h1>
    <p>Exploring the world one challenge at a time</p>
  </div>

  <div class="color-scheme-0 vertical-padding-100">
    <div class="container text-center">
      <h2>A focus on the evolution of technology and its place in healthcare.</h2>
      <p>Hello and thanks for visiting my website! My name is Alex and I'm a software devloper that loves learning about new technologies and innovations in healthcare!</p>

      <p>So if you're interested in new technology, it's place in healthcare, or social implications, you've found my playpen. </p>
    </div>
  </div>
  <div class="color-scheme-1 vertical-padding-100">
    <div class="container text-center">
      <h2>Text text text text text text text text text</h2>
      <button type="button" class="btn btn-secondary btn-transition-white btn-lg">Check it out!</button>
    </div>
  </div>
<% include partials/footer %>
