<% include partials/header %>
  <div class="jumbotron" style="background-image:url(../images/JumbotronHome.jpg);">
    <h1>The Greenehorn</h1>
    <p>Where learning never ends</p>
  </div>

  <div class="color-scheme-0 vertical-padding-100">
    <div class="container text-center">
      <h2>A focus on the emerging technologies and how they can impact the world</h2>
      <p>Hello and thanks for visiting my website! My name is Alex Greene and I'm a software developer who loves to learn about new technologies and how they can disrupt established industries! I created this website to share my passions with the world and I’m excited that you’re here!</p>
      <p>So if you're interested in new technology, it's place in healthcare, or social implications, you've found my playpen.</p>
    </div>
  </div>
  <div class="color-scheme-1 vertical-padding-100">
    <div class="container text-center">
      <h2>Looking to learn more?</h2>
      <p>I enjoy writing articles on topics that include reviews of new technologies, step-by-step projects that allow readers to create simple applications, and the occasional piece focusing on current events in the tech world. If you're interested in learning something new I highly encourage you to check out a few of my posts!</p>
      <a href="/blogs" class="btn btn-secondary btn-transition-white btn-lg">Read on!</a>
    </div>
  </div>
<% include partials/footer %>
