<% include partials/header %>
  <div class="jumbotron" style="background-image:url(../images/JumbotronHome.jpg);">
    <h1>Welcome to the Greenehorn!</h1>
    <p>Exploring the world one challenge at a time</p>
  </div>

  <div class="color-scheme-0 vertical-padding-100">
    <div class="container text-center">
      <h2>A focus on the emerging technologies and how they can impact the world</h2>
      <p>Hello and thanks for visiting my website! My name is Alex Greene and I'm a software devloper that loves learning about new technologies and how they can disrupt established industries!</p>

      <p>So if you're interested in new technology, it's place in healthcare, or social implications, you've found my playpen. </p>
    </div>
  </div>
  <div class="color-scheme-1 vertical-padding-100">
    <div class="container text-center">
      <h2>Let's start learning</h2>
      <p>I do most of my blogging through <a href="https://www.medium.com">Medium</a> so I've put together a short list of my favorite pieces. Topics generally include quick overviews of new technologies, step-by-step projects that helps you develope a very simple application with unfamiliar technology, and the occasional piece focusing on current events in the tech world. 
      </p>
      <a href="/blogs" class="btn btn-secondary btn-transition-white btn-lg">Read on!</a>
    </div>
  </div>
<% include partials/footer %>
