<% include partials/header %>
  <div class="jumbotron" style="background-image:url(../images/JumbotronHome.jpg);">
    <h1>Welcome to the Greenehorn!</h1>
    <p>Exploring the world one challenge at a time</p>
  </div>

  <div class="color-scheme-1 vertical-padding-20">
    <div class="container text-center">
      <h2>A focus on the evolution of technology and its place in healthcare.</h2>
      <p>We live in a world where technology can deliver greater insights about our customers than ever before. The ability of wearables and other sensory devices to passively collect data about users and their environments is constantly improving. Likewise, technology is enabling individuals to analyze and draw meaningful insights from this vast amount of data. This resulting mass of readable big data is enabling companies around the globe to deliver more personalized solutions that ever before. There is no market in which this is more apparent than it is in healthcare.</p>
    </div>
  </div>
  <div class="color-scheme-0 vertical-padding-20">
    <div class="container text-center">
      <!-- TODO: change to a quote block -->
      <h2 class="text-center">“The last best experience that anyone has anywhere, becomes the minimum expectation for the experience they want everywhere.” -	Bridget van Kranlingen</h2>
      <p>Technologies that leverage big data analytics to deliver personalized solutions have disrupted industries across the globe. Google reinvented how one searches for new information. Amazon enabled people across the globe to make purchases from the comfort and convenience of their home. Apple created a network of intuitive devices that share data amongst themselves. Each of these examples changed the customer's expectations when working with products and services.</p>

      <p></p>
    </div>
  </div>
  <div class="color-scheme-1 vertical-padding-20">
    <div class="container">
      <p> </p>
    </div>
  </div>
<% include partials/footer %>
