<% include partials/header %>
  <div class="jumbotron" style="background-image:url(../images/JumbotronHome.jpg);">
    <h1>Alexander Greene</h1>
  </div>
  <div class="color-scheme-0">
    <div class="container vertical-padding-50">
      <h2>A focus on the emerging technologies and how they can impact the world</h2>
      <p>Thank you for your interest in my work! I track most of my work on GitHub, and highly encourage you to checkout some of my work there. Some projects you might find interesting include:</p>
      <div class="blogs">
        <a href="#">How I feel about some topic that I wrote a blog post about</a><br />
        <a href="#">How I feel about some topic that I wrote a blog post about</a><br />
      </div>
    </div>
  </div>
<% include partials/footer %>
