/*==============================================
/ Default Styling
/=============================================*/

body {
  background-color: #6D7993;
  color: #FFF;
  font-family: 'Roboto', serif;
}

h1,h2,h3 {
  font-family:'Vollkorn', serif;
}

p{
  font-size: 16px;
}

input {
  color: #000;
}

a {
  color: #0f659e;
}

a:hover {
  cursor: pointer;
  color: #137FC6;
  text-decoration: none;
}

/*==============================================
/ Header Styling
/=============================================*/
.navbar {
  margin-bottom:0;
}

.jumbotron {
  height: 420px;
  margin-top: 0;
  margin-bottom: 0;
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron h1 {
  padding-left: 20px;
  top:5px;
}

.jumbotron p {
  padding-left: 50px;
}
/*==============================================
/ Button Colors
/=============================================*/
.btn-transition-black {
  color: #000;
  border-color: #000;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.btn-transition-black:hover {

  border-color: #000;
  background-color: #000;
  color: #FFF;
}

.btn-transition-white {
  color: #FFF;
  border-color: #FFF;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.btn-transition-white:hover {
  border-color: #FFF;
  background-color: #FFF;
  color: #000;
}
/*==============================================
/ Color Schemes
/=============================================*/


.color-scheme-0 {
  background-color: #F8F8F8;
  color: #000;
}

.color-scheme-1 {
  background-color: #9099A2;
}

.color-scheme-2 {
  background-color: #6D7993;
  border-color: #FFF;
}

.color-scheme-3 {
  background-color: #96858F;
  border-color: #FFF;
  color: #FFF;
}

/*==============================================
/ Spacing
/=============================================*/
.horizontal-padding-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.vertical-padding-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.vertical-padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.vertical-padding-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.vertical-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*==============================================
/ Blog Styling
/=============================================*/
.blogs a {
  padding: 10px 0px;
  display: inline-block;
}
/*==============================================
/ Footer Styling
/=============================================*/
footer{
  padding: 30px;
  height: 200px;
}

footer h1 {
  padding: 0;
  margin: 0;
}

footer hr {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-color: #FFF;
  background-color: #FFF;
  height: 3px;
  width: 30%;
}

footer i {
  font-size: 2.5em;
}

.footer-icon {
  padding-top: 0px;
  font-size: 35px;
}
