body {
  background-color: #F8F8F8;
}

a {
  color: #2d5986;
}

/*==============================================
/ Header Styling
/=============================================*/
.navbar {
  margin-bottom:0;
}

.jumbotron {
  height: 420px;
  margin-top: 0;
  margin-bottom: 0;
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron h1 {
  padding-left: 20px;
  top:5px;
}

.jumbotron p {
  padding-left: 50px;
}

/*==============================================
/ Color Schemes
/=============================================*/
.color-scheme-0 {
  color: #fff;
  background-color: #555F72;
}

.color-scheme-1 {
  color: #000;
  background-color: #f6f6f6;
}

.color-scheme-2 {
  color: #000020;
  background-color: #99C3C8;
}

.color-scheme-3 {
  color: #FFDF00;
  background-color: #2d5986;
}

/*==============================================
/ Spacing
/=============================================*/
.horizontal-padding-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.vertical-padding-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.vertical-padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.vertical-padding-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*==============================================
/ Blog Styling
/=============================================*/
.thumbnail img {
  min-height:20px;
  height:200px;
  width: 100%;
}

.hr-style-1 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #2d5986, #FFDF00, #2d5986);
  background-image: -moz-linear-gradient(left, #2d5986, #FFDF00, #2d5986);
  background-image: -ms-linear-gradient(left, #2d5986, #FFDF00, #2d5986);
  background-image: -o-linear-gradient(left, #2d5986, #FFDF00, #2d5986);
}

/*==============================================
/ Form Styling
/=============================================*/

input {
  color: #000;
}

/*==============================================
/ Footer Styling
/=============================================*/
footer{
  padding: 30px;
  height: 200px;
}

footer h1 {
  padding: 0;
  margin: 0;
}

footer hr {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-color: #000020;
  background-color: #000020;
  height: 3px;
  width: 30%;
}

footer i {
  font-size: 2.5em;
}

.footer-icon {
  padding-top: 0px;
  font-size: 35px;
}
